<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Debug.OverrideEmail" value="Igor.Prohorov@cbsinteractive.com"/>
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp>
				<network
				 host="smtp-ru.cneu.cnwk"
				 port="25"
				 defaultCredentials="false" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>