<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TfsServerUri" value="http://rufrt-vxbuild:8080/tfs"/>
		<add key="TfsCollectionName" value="SED"/>
		<add key="CutoffDays" value="3"/>
		<add key="SenderEmail" value="enter your email here"/>
		<add key="SenderName" value="Robot"/>
		<add key="Debug.OverrideEmail" value="enter your email here if you need to enter debug mode"/>
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp>
				<network
				 host="smtp-ru.cneu.cnwk"
				 port="25"
				 defaultCredentials="false" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>