<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TfsUrl" value="http://**********:8080/tfs/acme" />
		<add key="Replace-SourceControlProvider" value="NetBuild.CheckProject.SourceControl.Tfs.TfsSourceControlProvider, NetBuild.CheckProject.SourceControl.Tfs" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>
