<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="CCNet.Build.Confluence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<CCNet.Build.Confluence.Properties.Settings>
			<setting name="CCNet_Build_Confluence_ConfluenceApi_ConfluenceSoapServiceService" serializeAs="String">
				<value>https://owl.cbsi.com/confluence/rpc/soap-axis/confluenceservice-v2</value>
			</setting>
		</CCNet.Build.Confluence.Properties.Settings>
	</applicationSettings>
</configuration>
