<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Debug.IsEnabled" value="true"/>
		<add key="Debug.OverrideEmail" value="oleg.shuruev@cbsinteractive.com"/>
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp>
				<network
					host="smtp-sf.cnet.cnwk"
					port="25"
					defaultCredentials="false"/>
			</smtp>
		</mailSettings>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
